<!DOCTYPE html>
<html>
<head lang="en">
    <title>il lamento del formichiere - Sum</title>

    <link rel="import" href="../../../bower_components/polymer/polymer.html">
    <link rel="import" href="../../../bower_components/paper-styles/paper-styles.html">
    <link rel="import" href="../../../bower_components/paper-styles/demo-pages.html">
    <link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
    <link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">
    <link rel="import" href="../../../bower_components/paper-button/paper-button.html">
    <link rel="import" href="../../../bower_components/paper-input/paper-input.html">
    <link rel="import" href="../../../bower_components/paper-input/paper-textarea.html">

    <link rel="import" href="../test-form.html">

</head>
<body>
    <h1>myrmecophagaTridactyla!</h1>
    <div>
        <test-form id="test-form"></test-form>
    </div>
</body>
</html>
