<dom-module id="sum-form">
    <style>
        .mainButton {
            color: var(--button-main-color);
            background: var(--button-main-background);
        }
        .warningButton {
            color: var(--button-warning-color);
            background: var(--button-warning-background);
        }
    </style>
    <template>
        <iron-ajax id="putAjax"
                   method="PUT"
                   on-response="_handlePutResponse"
                   on-error="_handlePutError"
                   content-type="application/json"
                   url="[[requestUrl]]">
        </iron-ajax>
        <div>
            <form id="form">
                <paper-input id="sum1"
                             label="First summand"
                             value="{{_data.sum1}}"
                             auto-validate
                             type=number
                             step=0.0001
                             required
                             error-message="Must be a number">
                </paper-input>
                <paper-input id="sum2"
                             label="Second summand"
                             value="{{_data.sum2}}"
                             auto-validate
                             type=number
                             step=0.0001
                             required
                             error-message="Must be a number">
                </paper-input>
                <paper-input id="result"
                             label="Sum of first summand and second summand"
                             value="{{_data.result}}"
                             disabled=true>
                </paper-input>
                <paper-button id="submit"
                              raised
                              on-tap="_submit"
                              class="mainButton">[[submitText]]</paper-button>
            </form>
        </div>
        <paper-toast id="toast" text="[[errorText]]"></paper-toast>
        <paper-toast id="sumResult" text="[[resultText]]"></paper-toast>
    </template>
</dom-module>
<script>
    (function() {
        Polymer({
            is: 'sum-form',
            properties: {
                requestUrl: {
                    type: String,
                    value: '/api/v1/sum'
                },
                errorText: {
                    type: String,
                    value: 'This is an error message'
                },
                submitText: {
                    type: String,
                    value: 'Submit'
                },
                resultText: {
                    type: String,
                    value: 'The result is '
                },
                resultTextRaw: {
                    type: String,
                    value: 'The result is '
                },
                _data: {
                    type: Object,
                    value: {}
                }
            },
            _handleError: function(text) {
                this.errorText = text;
                this.$.toast.show();
            },
            _handlePutResponse: function(e) {
                var sum1 = Math.round(e.detail.response.sum1*10000)/10000;
                var sum2 = Math.round(e.detail.response.sum2*10000)/10000;
                alert(Math.round(e.detail.response.result*10000)/10000);
                var result = Math.round(e.detail.response.result*10000)/10000;
                this._data.sum1 = sum1;
                this._data.sum2 = sum2;
                this._data.result = result;
                this.fire('sumResponse', this._data);
            },
            _showResult: function() {
                this.resultText += String(this._data.result);
                this.$.sumResult.show();
                this.resultText = this.resultTextRaw;
            },
            _submit: function() {
                if (this.$.form.checkValidity()) {
                    // This is a workaround.
                    // summand should be sent as numbers
                    this.set('_data.sum1', parseFloat(this._data.sum1));
                    this.set('_data.sum2', parseFloat(this._data.sum2));
                    //this is another workaround: result cannot be null
                    this.set('_data.result', parseFloat(0));
                    
                    // iron-ajax does not stringify object
                    this.$.putAjax.body = JSON.stringify(this._data);
                    this.$.putAjax.generateRequest();
                } else {
                    this._handleError('At least one field is invalid.');
                }
            },
            _handlePutError: function() {
                this._handleError('The sum could not be calculated');
            },
        });
    })();
</script>
